Repository aiidateam/aiida-quantumespresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, version-number

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

version-number:
  name: Check consistency in version number
  entry: python ./utils/validate_version_number.py
  args:
  - version
  language: system
  pass_filenames: false

Fix the incorrect usage of repository interface of `aiida-core`
  aiida_quantumespresso/parsers/cp.py
  aiida_quantumespresso/parsers/neb.py
  aiida_quantumespresso/parsers/parse_raw/cp.py
  aiida_quantumespresso/parsers/parse_raw/neb.py
Due: yapf

Fix the incorrect usage of repository interface of `aiida-core` (#549)
  aiida_quantumespresso/parsers/cp.py
  aiida_quantumespresso/parsers/neb.py
  aiida_quantumespresso/parsers/parse_raw/cp.py
  aiida_quantumespresso/parsers/parse_raw/neb.py
Due: yapf

Allow explicitly specifying 'ibrav'.
  aiida_quantumespresso/calculations/__init__.py
  aiida_quantumespresso/calculations/cp.py
  aiida_quantumespresso/calculations/helpers/__init__.py
  aiida_quantumespresso/calculations/pw.py
  aiida_quantumespresso/tools/pwinputparser.py
  docs/source/user_guide/calculation_plugins/cp.rst
  docs/source/user_guide/calculation_plugins/pw.rst
  setup.json
  tests/calculations/test_pw.py
  tests/calculations/test_pw/test_pw_ibrav.in
  tests/tools/test_immigrate.py
Due: yapf, version-number

`Pw/CpCalculation`: allow explicitly specifying `ibrav` (#503)
  aiida_quantumespresso/calculations/__init__.py
  aiida_quantumespresso/calculations/cp.py
  aiida_quantumespresso/calculations/helpers/__init__.py
  aiida_quantumespresso/calculations/pw.py
  aiida_quantumespresso/tools/pwinputparser.py
  docs/source/user_guide/calculation_plugins/cp.rst
  docs/source/user_guide/calculation_plugins/pw.rst
  setup.json
  tests/calculations/test_pw.py
  tests/calculations/test_pw/test_pw_ibrav.in
  tests/tools/test_immigrate.py
Due: yapf, version-number

Changes for improved readability.
  aiida_quantumespresso/workflows/pw/bands.py
Due: yapf

`PwBandsWorkChain`: incorrect number of bands for non-collinear spin (#570)
  aiida_quantumespresso/workflows/pw/bands.py
Due: yapf

`PwCalculation`: hotfix the `qes_200420.xsd` XML schema file
  aiida_quantumespresso/parsers/parse_xml/pw/schemas/qes_200420.xsd
  tests/parsers/fixtures/pw/default_xml_200420/data-file-schema.xml
  tests/parsers/test_pw/test_pw_default_xml_200420.yml
Due: none

`PwCalculation`: hotfix the `qes_200420.xsd` XML schema file (#558)
  aiida_quantumespresso/parsers/parse_xml/pw/schemas/qes_200420.xsd
  tests/parsers/fixtures/pw/default_xml_200420/data-file-schema.xml
  tests/parsers/test_pw/test_pw_default_xml_200420.yml
Due: none

Release `v3.2.0`
  CHANGELOG.md
  aiida_quantumespresso/__init__.py
  setup.json
  tests/parsers/test_dos/test_dos_default.yml
  tests/parsers/test_neb/test_neb_default.yml
  tests/parsers/test_ph/test_ph_default.yml
  tests/parsers/test_ph/test_ph_not_converged.yml
  tests/parsers/test_ph/test_ph_out_of_walltime.yml
  tests/parsers/test_pw/test_pw_default.yml
  tests/parsers/test_pw/test_pw_default_no_xml.yml
  tests/parsers/test_pw/test_pw_default_xml_190304.yml
  tests/parsers/test_pw/test_pw_default_xml_191206.yml
  tests/parsers/test_pw/test_pw_default_xml_200420.yml
  tests/parsers/test_pw/test_pw_failed_interrupted.yml
  tests/parsers/test_pw/test_pw_failed_interrupted_stdout.yml
  tests/parsers/test_pw/test_pw_failed_interrupted_xml.yml
  tests/parsers/test_pw/test_pw_failed_out_of_walltime.yml
  tests/parsers/test_pw/test_pw_failed_out_of_walltime_interrupted.yml
  tests/parsers/test_pw/test_pw_failed_scf_not_converged.yml
  tests/parsers/test_pw/test_pw_initialization_xml_new.yml
  tests/parsers/test_pw/test_pw_relax_success.yml
  tests/parsers/test_pw/test_pw_vcrelax_success.yml
  tests/parsers/test_pw/test_pw_vcrelax_success_fractional.yml
  tests/parsers/test_pw2wannier90/test_pw2wannier90_default.yml
Due: yapf, version-number

Drop support for Python 3.5
  .github/workflows/ci.yml
  setup.json
  tests/parsers/test_pp.py
Due: yapf, version-number

Drop support for Python 3.5 (#578)
  .github/workflows/ci.yml
  setup.json
  tests/parsers/test_pp.py
Due: yapf, version-number

Add the `Framework :: AiiDA` trove classifier to the package
  setup.json
Due: version-number

Add the `Framework :: AiiDA` trove classifier to the package (#584)
  setup.json
Due: version-number

`Parsers`: remove explicit check for the retrieved folder's existence
  aiida_quantumespresso/calculations/cp.py
  aiida_quantumespresso/calculations/dos.py
  aiida_quantumespresso/calculations/matdyn.py
  aiida_quantumespresso/calculations/neb.py
  aiida_quantumespresso/calculations/ph.py
  aiida_quantumespresso/calculations/pp.py
  aiida_quantumespresso/calculations/projwfc.py
  aiida_quantumespresso/calculations/pw.py
  aiida_quantumespresso/calculations/pw2gw.py
  aiida_quantumespresso/calculations/pw2wannier90.py
  aiida_quantumespresso/calculations/q2r.py
  aiida_quantumespresso/parsers/cp.py
  aiida_quantumespresso/parsers/dos.py
  aiida_quantumespresso/parsers/matdyn.py
  aiida_quantumespresso/parsers/neb.py
  aiida_quantumespresso/parsers/ph.py
  aiida_quantumespresso/parsers/pp.py
  aiida_quantumespresso/parsers/projwfc.py
  aiida_quantumespresso/parsers/pw.py
  aiida_quantumespresso/parsers/pw2gw.py
  aiida_quantumespresso/parsers/pw2wannier90.py
  aiida_quantumespresso/parsers/q2r.py
  setup.json
Due: yapf, version-number

`Parsers`: remove explicit check for the retrieved folder's existence (#580)
  aiida_quantumespresso/calculations/cp.py
  aiida_quantumespresso/calculations/dos.py
  aiida_quantumespresso/calculations/matdyn.py
  aiida_quantumespresso/calculations/neb.py
  aiida_quantumespresso/calculations/ph.py
  aiida_quantumespresso/calculations/pp.py
  aiida_quantumespresso/calculations/projwfc.py
  aiida_quantumespresso/calculations/pw.py
  aiida_quantumespresso/calculations/pw2gw.py
  aiida_quantumespresso/calculations/pw2wannier90.py
  aiida_quantumespresso/calculations/q2r.py
  aiida_quantumespresso/parsers/cp.py
  aiida_quantumespresso/parsers/dos.py
  aiida_quantumespresso/parsers/matdyn.py
  aiida_quantumespresso/parsers/neb.py
  aiida_quantumespresso/parsers/ph.py
  aiida_quantumespresso/parsers/pp.py
  aiida_quantumespresso/parsers/projwfc.py
  aiida_quantumespresso/parsers/pw.py
  aiida_quantumespresso/parsers/pw2gw.py
  aiida_quantumespresso/parsers/pw2wannier90.py
  aiida_quantumespresso/parsers/q2r.py
  setup.json
Due: yapf, version-number

Remove duplicate line of setting cmdline arguments
  aiida_quantumespresso/calculations/__init__.py
Due: yapf

Update tests for CodeInfo cmdline_params (#585)
  tests/calculations/test_pw.py
Due: yapf

`BasePwCpInputGenerator`: remove duplicate setting cmdline arguments (#585)
  aiida_quantumespresso/calculations/__init__.py
  tests/calculations/test_pw.py
Due: yapf

pp parse right after reading data
  aiida_quantumespresso/parsers/pp.py
Due: yapf

fix pre-commit
  aiida_quantumespresso/parsers/pp.py
Due: yapf

comment
  aiida_quantumespresso/parsers/pp.py
Due: yapf

delete data_raw after parsing
  aiida_quantumespresso/parsers/pp.py
Due: yapf

more accurate comment
  aiida_quantumespresso/parsers/pp.py
Due: yapf

`PpParser`: reduce memory usage by deleting raw data once parsed (#587)
  aiida_quantumespresso/parsers/pp.py
Due: yapf

projwfc parser allow digit in element name
  aiida_quantumespresso/parsers/projwfc.py
Due: yapf

projwfc parser match only allowed atom labels
  aiida_quantumespresso/parsers/projwfc.py
Due: yapf

`ProjwfcParser`: support kind names with numerals, dashes and underscores
  aiida_quantumespresso/parsers/projwfc.py
  tests/parsers/fixtures/projwfc/default/aiida.out
  tests/parsers/test_projwfc.py
  tests/parsers/test_projwfc/test_projwfc_default.yml
Due: yapf

`ProjwfcParser`: support kind names with numerals, dashes and underscores (#591)
  aiida_quantumespresso/parsers/projwfc.py
  tests/parsers/fixtures/projwfc/default/aiida.out
  tests/parsers/test_projwfc.py
  tests/parsers/test_projwfc/test_projwfc_default.yml
Due: yapf

Before fix, the 'default' and 'scdm' protocol actually are the same dictionary, so a change in 'scdm' also carries over to default.
  aiida_quantumespresso/utils/protocols/pw.py
Due: yapf

Release `v3.2.1`
  CHANGELOG.md
  aiida_quantumespresso/__init__.py
  setup.json
  tests/parsers/test_dos/test_dos_default.yml
  tests/parsers/test_neb/test_neb_default.yml
  tests/parsers/test_ph/test_ph_default.yml
  tests/parsers/test_ph/test_ph_not_converged.yml
  tests/parsers/test_ph/test_ph_out_of_walltime.yml
  tests/parsers/test_pw/test_pw_default.yml
  tests/parsers/test_pw/test_pw_default_no_xml.yml
  tests/parsers/test_pw/test_pw_default_xml_190304.yml
  tests/parsers/test_pw/test_pw_default_xml_191206.yml
  tests/parsers/test_pw/test_pw_default_xml_200420.yml
  tests/parsers/test_pw/test_pw_failed_interrupted.yml
  tests/parsers/test_pw/test_pw_failed_interrupted_stdout.yml
  tests/parsers/test_pw/test_pw_failed_interrupted_xml.yml
  tests/parsers/test_pw/test_pw_failed_out_of_walltime.yml
  tests/parsers/test_pw/test_pw_failed_out_of_walltime_interrupted.yml
  tests/parsers/test_pw/test_pw_failed_scf_not_converged.yml
  tests/parsers/test_pw/test_pw_initialization_xml_new.yml
  tests/parsers/test_pw/test_pw_relax_success.yml
  tests/parsers/test_pw/test_pw_vcrelax_success.yml
  tests/parsers/test_pw/test_pw_vcrelax_success_fractional.yml
  tests/parsers/test_pw2wannier90/test_pw2wannier90_default.yml
Due: yapf, version-number

CLI: add tests for the process launch commands
  tests/cli/__init__.py
  tests/cli/calculations/__init__.py
  tests/cli/calculations/test_cp.py
  tests/cli/calculations/test_dos.py
  tests/cli/calculations/test_epw.py
  tests/cli/calculations/test_matdyn.py
  tests/cli/calculations/test_neb.py
  tests/cli/calculations/test_ph.py
  tests/cli/calculations/test_pp.py
  tests/cli/calculations/test_projwfc.py
  tests/cli/calculations/test_pw.py
  tests/cli/calculations/test_pw2wannier90.py
  tests/cli/calculations/test_q2r.py
  tests/cli/conftest.py
  tests/cli/workflows/__init__.py
  tests/cli/workflows/pw/test_bands.py
  tests/cli/workflows/pw/test_base.py
  tests/cli/workflows/pw/test_relax.py
  tests/cli/workflows/test_matdyn.py
  tests/cli/workflows/test_ph.py
  tests/cli/workflows/test_q2r.py
  tests/conftest.py
Due: yapf

CLI: add tests for the process launch commands (#589)
  tests/cli/__init__.py
  tests/cli/calculations/__init__.py
  tests/cli/calculations/test_cp.py
  tests/cli/calculations/test_dos.py
  tests/cli/calculations/test_epw.py
  tests/cli/calculations/test_matdyn.py
  tests/cli/calculations/test_neb.py
  tests/cli/calculations/test_ph.py
  tests/cli/calculations/test_pp.py
  tests/cli/calculations/test_projwfc.py
  tests/cli/calculations/test_pw.py
  tests/cli/calculations/test_pw2wannier90.py
  tests/cli/calculations/test_q2r.py
  tests/cli/conftest.py
  tests/cli/workflows/__init__.py
  tests/cli/workflows/pw/test_bands.py
  tests/cli/workflows/pw/test_base.py
  tests/cli/workflows/pw/test_relax.py
  tests/cli/workflows/test_matdyn.py
  tests/cli/workflows/test_ph.py
  tests/cli/workflows/test_q2r.py
  tests/conftest.py
Due: yapf

`PwCalculation`: fix bug when `hubbard_file` is specified
  aiida_quantumespresso/calculations/__init__.py
  aiida_quantumespresso/calculations/pw.py
Due: yapf

`PwCalculation`: fix bug when `hubbard_file` is specified (#596)
  aiida_quantumespresso/calculations/__init__.py
  aiida_quantumespresso/calculations/pw.py
Due: yapf

`PwRelaxWorkChain`: expose `PwBaseWorkChain` separately for final SCF
  aiida_quantumespresso/cli/workflows/pw/relax.py
  aiida_quantumespresso/workflows/pw/relax.py
Due: yapf

`PwRelaxWorkChain`: expose `PwBaseWorkChain` separately for final SCF (#569)
  aiida_quantumespresso/cli/workflows/pw/relax.py
  aiida_quantumespresso/workflows/pw/relax.py
Due: yapf

Path conditions:
  yapf: any of: \.py$
  version-number: any of: (?x)^(
    setup.json|
    aiida_quantumespresso/__init__.py|
    ./utils/validate_version_number.py|
)$
