Repository aiidateam/aiida-quantumespresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, version-number

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
    -   id: double-quote-string-fixer
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
    -   id: mixed-line-ending
    -   id: trailing-whitespace
        exclude: >-
            (?x)^(
                tests/.*.in$
            )$

-   repo: https://github.com/PyCQA/prospector
    rev: 1.2.0
    hooks:
    -   id: prospector
        language: system
        exclude: &exclude_files >
            (?x)^(
                aiida_quantumespresso/calculations/pwimmigrant.*|
                aiida_quantumespresso/parsers/.*|
                docs/.*|
                tests/.*(?<!\.py)$
            )$

-   repo: https://github.com/PyCQA/pydocstyle
    rev: 5.0.2
    hooks:
    -   id: pydocstyle
        exclude: *exclude_files
        args: ['--ignore=D104,D202,D203,D213']

-   repo: local
    hooks:
    -   id: yapf
        name: yapf
        entry: yapf
        language: system
        types: [python]
        args: ['-i']

    -   id: version-number
        name: Check consistency in version number
        entry: python ./utils/validate_version_number.py
        args: ['version']
        language: system
        files: >-
            (?x)^(
                setup.json|
                aiida_quantumespresso/__init__.py|
                ./utils/validate_version_number.py|
            )$
        pass_filenames: false

Move calcfunctions to `aiida_quantumespresso.calculations.functions`
  aiida_quantumespresso/calculations/functions/__init__.py
  aiida_quantumespresso/calculations/functions/create_kpoints_from_distance.py
  aiida_quantumespresso/calculations/functions/seekpath_structure_analysis.py
  aiida_quantumespresso/workflows/functions/create_kpoints_from_distance.py
  aiida_quantumespresso/workflows/functions/seekpath_structure_analysis.py
  aiida_quantumespresso/workflows/pw/bands.py
  aiida_quantumespresso/workflows/pw/base.py
  setup.json
  tests/calculations/test_autoinvalidate_cache.py
Due: yapf, version-number

Move calcfunctions to `aiida_quantumespresso.calculations.functions` (#520)
  aiida_quantumespresso/calculations/functions/__init__.py
  aiida_quantumespresso/calculations/functions/create_kpoints_from_distance.py
  aiida_quantumespresso/calculations/functions/seekpath_structure_analysis.py
  aiida_quantumespresso/workflows/functions/create_kpoints_from_distance.py
  aiida_quantumespresso/workflows/functions/seekpath_structure_analysis.py
  aiida_quantumespresso/workflows/pw/bands.py
  aiida_quantumespresso/workflows/pw/base.py
  setup.json
  tests/calculations/test_autoinvalidate_cache.py
Due: yapf, version-number

Replace builtin `BaseRestartWorkChain` with the one from `aiida-core`
  aiida_quantumespresso/calculations/base.py
  aiida_quantumespresso/common/exceptions.py
  aiida_quantumespresso/common/workchain/base/restart.py
  aiida_quantumespresso/common/workchain/utils.py
  aiida_quantumespresso/workflows/matdyn/base.py
  aiida_quantumespresso/workflows/ph/base.py
  aiida_quantumespresso/workflows/pw/base.py
  aiida_quantumespresso/workflows/q2r/base.py
  setup.json
  tests/calculations/test_matdyn.py
  tests/calculations/test_pw.py
  tests/conftest.py
  tests/workflows/__init__.py
  tests/workflows/matdyn/__init__.py
  tests/workflows/matdyn/test_base.py
  tests/workflows/ph/__init__.py
  tests/workflows/ph/test_base.py
  tests/workflows/pw/__init__.py
  tests/workflows/pw/test_base.py
  tests/workflows/q2r/__init__.py
  tests/workflows/q2r/test_base.py
Due: yapf, version-number

Replace builtin `BaseRestartWorkChain` with the one from `aiida-core` (#519)
  aiida_quantumespresso/calculations/base.py
  aiida_quantumespresso/common/exceptions.py
  aiida_quantumespresso/common/workchain/base/restart.py
  aiida_quantumespresso/common/workchain/utils.py
  aiida_quantumespresso/workflows/matdyn/base.py
  aiida_quantumespresso/workflows/ph/base.py
  aiida_quantumespresso/workflows/pw/base.py
  aiida_quantumespresso/workflows/q2r/base.py
  setup.json
  tests/calculations/test_matdyn.py
  tests/calculations/test_pw.py
  tests/conftest.py
  tests/workflows/__init__.py
  tests/workflows/matdyn/__init__.py
  tests/workflows/matdyn/test_base.py
  tests/workflows/ph/__init__.py
  tests/workflows/ph/test_base.py
  tests/workflows/pw/__init__.py
  tests/workflows/pw/test_base.py
  tests/workflows/q2r/__init__.py
  tests/workflows/q2r/test_base.py
Due: yapf, version-number

Add support for `aiida-sssp`
  aiida_quantumespresso/cli/calculations/cp.py
  aiida_quantumespresso/cli/calculations/dos.py
  aiida_quantumespresso/cli/calculations/epw.py
  aiida_quantumespresso/cli/calculations/matdyn.py
  aiida_quantumespresso/cli/calculations/neb.py
  aiida_quantumespresso/cli/calculations/ph.py
  aiida_quantumespresso/cli/calculations/pp.py
  aiida_quantumespresso/cli/calculations/projwfc.py
  aiida_quantumespresso/cli/calculations/pw.py
  aiida_quantumespresso/cli/calculations/pw2wannier90.py
  aiida_quantumespresso/cli/calculations/q2r.py
  aiida_quantumespresso/cli/utils/options.py
  aiida_quantumespresso/cli/workflows/pw/bands.py
  aiida_quantumespresso/cli/workflows/pw/base.py
  aiida_quantumespresso/cli/workflows/pw/relax.py
  aiida_quantumespresso/workflows/pw/base.py
  setup.json
Due: yapf, version-number

Fix import or `URLError` which has been removed in `xmlschema`
  aiida_quantumespresso/parsers/parse_xml/pw/parse.py
  setup.json
Due: yapf, version-number

Fix import or `URLError` which has been removed in `xmlschema` (#524)
  aiida_quantumespresso/parsers/parse_xml/pw/parse.py
  setup.json
Due: yapf, version-number

Use 'get_hash' instead of 'id' when comparing UpfData in test.
  tests/tools/test_immigrate.py
Due: yapf

Remove `prospector` and run `yapf` and `pylint` from repo
  .pre-commit-config.yaml
  .pylintrc
  setup.json
Due: version-number

Remove `prospector` and run `yapf` and `pylint` from repo (#526)
  .pre-commit-config.yaml
  .pylintrc
  setup.json
Due: version-number

Use `get_hash` instead of `id` when comparing `UpfData` in immigrate test (#527)
  tests/tools/test_immigrate.py
Due: yapf

pp plugin: retrieve and parse multiple output files.
  aiida_quantumespresso/calculations/pp.py
  aiida_quantumespresso/parsers/pp.py
Due: yapf

`PpParser`: fix whitespace bug in the `parse_gnuplot2D` method
  .pre-commit-config.yaml
  aiida_quantumespresso/parsers/pp.py
  tests/parsers/fixtures/pp/default_2d/aiida.fileout
Due: yapf

`PpParser`: fix whitespace bug in the `parse_gnuplot2D` method (#534)
  .pre-commit-config.yaml
  aiida_quantumespresso/parsers/pp.py
  tests/parsers/fixtures/pp/default_2d/aiida.fileout
Due: yapf

`PpCalculation`: add support for retrieving and parsing multiple files
  aiida_quantumespresso/calculations/pp.py
  aiida_quantumespresso/parsers/pp.py
  tests/calculations/test_pp.py
  tests/conftest.py
  tests/parsers/fixtures/pp/default_3d_multiple/aiida.filplot_K001_B001aiida.fileout
  tests/parsers/fixtures/pp/default_3d_multiple/aiida.filplot_K001_B002aiida.fileout
  tests/parsers/fixtures/pp/default_3d_multiple/aiida.out
  tests/parsers/test_pp.py
Due: yapf

`PpCalculation`: add support for retrieving and parsing multiple files (#533)
  aiida_quantumespresso/calculations/pp.py
  aiida_quantumespresso/parsers/pp.py
  tests/calculations/test_pp.py
  tests/conftest.py
  tests/parsers/fixtures/pp/default_3d_multiple/aiida.filplot_K001_B001aiida.fileout
  tests/parsers/fixtures/pp/default_3d_multiple/aiida.filplot_K001_B002aiida.fileout
  tests/parsers/fixtures/pp/default_3d_multiple/aiida.out
  tests/parsers/test_pp.py
Due: yapf

Work on pp.x parser:
  aiida_quantumespresso/parsers/pp.py
Due: yapf

fixing tests
  tests/parsers/test_pp.py
Due: yapf

Fix tests
  tests/parsers/fixtures/pp/default_3d_multiple/aiida.filplot_K001_B001aiida.fileout
  tests/parsers/fixtures/pp/default_3d_multiple/aiida.filplot_K001_B002aiida.fileout
Due: none

Remove tittle and comment parsing
  aiida_quantumespresso/parsers/pp.py
Due: yapf

Remove parsing of coordinates and atomic numbers
  aiida_quantumespresso/parsers/pp.py
  tests/parsers/test_pp.py
Due: yapf

CI: update `actions/setup-python` to `@v2` and pin Python 3.7.7
  .github/workflows/ci.yml
Due: none

CI: update `actions/setup-python` to `@v2` and pin Python 3.7.7 (#538)
  .github/workflows/ci.yml
Due: none

`PpParser`: improve the Gaussian cube file parsing algorithm. (#535)
  aiida_quantumespresso/parsers/pp.py
  tests/parsers/fixtures/pp/default_3d_multiple/aiida.filplot_K001_B001aiida.fileout
  tests/parsers/fixtures/pp/default_3d_multiple/aiida.filplot_K001_B002aiida.fileout
Due: yapf

PP plugin, add back 'settings' input
  aiida_quantumespresso/calculations/pp.py
Due: yapf

Test a `PpCalculation` with user-defined cmdline setting
  tests/calculations/test_pp.py
Due: yapf

Apply suggestions from code review
  tests/calculations/test_pp.py
Due: yapf

Apply suggestions from the code review.
  tests/calculations/test_pp.py
Due: yapf

`PpCalculation`: reinstate the `settings` input node (#537)
  aiida_quantumespresso/calculations/pp.py
  tests/calculations/test_pp.py
Due: yapf

Small change to test_pw.py.
  tests/parsers/test_pw.py
Due: yapf

Build system: unvendor `fastentrypoints` and use `pyproject.toml`
  .prospector.yaml
  LICENSE.txt
  MANIFEST.in
  README.md
  docs/.gitignore
  pyproject.toml
  setup.py
  tests/parsers/test_pw.py
  utils/fastentrypoints.py
Due: yapf

Build system: unvendor `fastentrypoints` and use `pyproject.toml` (#540)
  .prospector.yaml
  LICENSE.txt
  MANIFEST.in
  README.md
  docs/.gitignore
  pyproject.toml
  setup.py
  tests/parsers/test_pw.py
  utils/fastentrypoints.py
Due: yapf

Release v3.1.0
  CHANGELOG.md
  aiida_quantumespresso/__init__.py
  setup.json
  tests/parsers/test_dos/test_dos_default.yml
  tests/parsers/test_neb/test_neb_default.yml
  tests/parsers/test_ph/test_ph_default.yml
  tests/parsers/test_ph/test_ph_not_converged.yml
  tests/parsers/test_ph/test_ph_out_of_walltime.yml
  tests/parsers/test_pw/test_pw_default.yml
  tests/parsers/test_pw/test_pw_default_no_xml.yml
  tests/parsers/test_pw/test_pw_default_xml_190304.yml
  tests/parsers/test_pw/test_pw_default_xml_191206.yml
  tests/parsers/test_pw/test_pw_failed_interrupted.yml
  tests/parsers/test_pw/test_pw_failed_interrupted_stdout.yml
  tests/parsers/test_pw/test_pw_failed_interrupted_xml.yml
  tests/parsers/test_pw/test_pw_failed_out_of_walltime.yml
  tests/parsers/test_pw/test_pw_failed_out_of_walltime_interrupted.yml
  tests/parsers/test_pw/test_pw_failed_scf_not_converged.yml
  tests/parsers/test_pw/test_pw_initialization_xml_new.yml
  tests/parsers/test_pw/test_pw_relax_success.yml
  tests/parsers/test_pw/test_pw_vcrelax_success.yml
  tests/parsers/test_pw/test_pw_vcrelax_success_fractional.yml
  tests/parsers/test_pw2wannier90/test_pw2wannier90_default.yml
Due: yapf, version-number

`PwBaseWorkChain`: do no assume `output_band` exists in band sanity check
  aiida_quantumespresso/workflows/pw/base.py
  tests/workflows/pw/test_base.py
Due: yapf

`PwBaseWorkChain`: do no assume `output_band` exists in band sanity check (#544)
  aiida_quantumespresso/workflows/pw/base.py
  tests/workflows/pw/test_base.py
Due: yapf

`PwParser`: add support for output format of pw.x v6.6
  aiida_quantumespresso/parsers/parse_raw/pw.py
  aiida_quantumespresso/parsers/parse_xml/pw/schemas/qes_200420.xsd
  tests/parsers/fixtures/pw/default_xml_200420/aiida.out
  tests/parsers/fixtures/pw/default_xml_200420/data-file-schema.xml
  tests/parsers/test_pw.py
  tests/parsers/test_pw/test_pw_default_xml_200420.yml
Due: yapf

`PwParser`: add support for output format of pw.x v6.6 (#552)
  aiida_quantumespresso/parsers/parse_raw/pw.py
  aiida_quantumespresso/parsers/parse_xml/pw/schemas/qes_200420.xsd
  tests/parsers/fixtures/pw/default_xml_200420/aiida.out
  tests/parsers/fixtures/pw/default_xml_200420/data-file-schema.xml
  tests/parsers/test_pw.py
  tests/parsers/test_pw/test_pw_default_xml_200420.yml
Due: yapf

Added orbitals and modified parser
  aiida_quantumespresso/parsers/projwfc.py
  aiida_quantumespresso/tools/data/__init__.py
  aiida_quantumespresso/tools/data/orbital/__init__.py
  aiida_quantumespresso/tools/data/orbital/noncollinearhydrogen.py
  aiida_quantumespresso/tools/data/orbital/spinorbithydrogen.py
  setup.json
  tests/parsers/test_projwfc.py
Due: yapf, version-number

Fixing linter and style errors
  aiida_quantumespresso/parsers/projwfc.py
  aiida_quantumespresso/tools/data/orbital/noncollinearhydrogen.py
  aiida_quantumespresso/tools/data/orbital/spinorbithydrogen.py
  tests/parsers/fixtures/projwfc/noncollinear/aiida.in
  tests/parsers/fixtures/projwfc/noncollinear/aiida.pdos_atm#1(Fe)_wfc#1(s)
  tests/parsers/fixtures/projwfc/noncollinear/aiida.pdos_atm#1(Fe)_wfc#2(d)
  tests/parsers/fixtures/projwfc/noncollinear/lowdin.txt
  tests/parsers/fixtures/projwfc/spin/aiida.in
  tests/parsers/fixtures/projwfc/spin/aiida.pdos_atm#1(Fe)_wfc#1(s)
  tests/parsers/fixtures/projwfc/spin/aiida.pdos_atm#1(Fe)_wfc#2(d)
  tests/parsers/fixtures/projwfc/spin/lowdin.txt
  tests/parsers/fixtures/projwfc/spinorbit/aiida.in
  tests/parsers/fixtures/projwfc/spinorbit/aiida.pdos_atm#1(Fe)_wfc#1(s_j0.5)
  tests/parsers/fixtures/projwfc/spinorbit/aiida.pdos_atm#1(Fe)_wfc#2(p_j0.5)
  tests/parsers/fixtures/projwfc/spinorbit/aiida.pdos_atm#1(Fe)_wfc#3(p_j1.5)
  tests/parsers/fixtures/projwfc/spinorbit/aiida.pdos_atm#1(Fe)_wfc#4(d_j1.5)
  tests/parsers/fixtures/projwfc/spinorbit/aiida.pdos_atm#1(Fe)_wfc#5(d_j2.5)
  tests/parsers/fixtures/projwfc/spinorbit/lowdin.txt
  tests/parsers/test_projwfc.py
Due: yapf
