Repository aiidateam/aiida-quantumespresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, version-number

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

version-number:
  name: Check consistency in version number
  entry: python ./utils/validate_version_number.py
  args:
  - version
  language: system
  pass_filenames: false

Add test fixtures for projwfc parser
  tests/parsers/fixtures/projwfc/noncollinear/aiida.in
  tests/parsers/fixtures/projwfc/noncollinear/aiida.out
  tests/parsers/fixtures/projwfc/noncollinear/aiida.pdos_atm#1(Fe)_wfc#1(s)
  tests/parsers/fixtures/projwfc/noncollinear/aiida.pdos_atm#1(Fe)_wfc#2(d)
  tests/parsers/fixtures/projwfc/noncollinear/aiida.pdos_tot
  tests/parsers/fixtures/projwfc/noncollinear/lowdin.txt
  tests/parsers/fixtures/projwfc/spin/aiida.in
  tests/parsers/fixtures/projwfc/spin/aiida.out
  tests/parsers/fixtures/projwfc/spin/aiida.pdos_atm#1(Fe)_wfc#1(s)
  tests/parsers/fixtures/projwfc/spin/aiida.pdos_atm#1(Fe)_wfc#2(d)
  tests/parsers/fixtures/projwfc/spin/aiida.pdos_tot
  tests/parsers/fixtures/projwfc/spin/lowdin.txt
  tests/parsers/fixtures/projwfc/spinorbit/aiida.in
  tests/parsers/fixtures/projwfc/spinorbit/aiida.out
  tests/parsers/fixtures/projwfc/spinorbit/aiida.pdos_atm#1(Fe)_wfc#1(s_j0.5)
  tests/parsers/fixtures/projwfc/spinorbit/aiida.pdos_atm#1(Fe)_wfc#2(p_j0.5)
  tests/parsers/fixtures/projwfc/spinorbit/aiida.pdos_atm#1(Fe)_wfc#3(p_j1.5)
  tests/parsers/fixtures/projwfc/spinorbit/aiida.pdos_atm#1(Fe)_wfc#4(d_j1.5)
  tests/parsers/fixtures/projwfc/spinorbit/aiida.pdos_atm#1(Fe)_wfc#5(d_j2.5)
  tests/parsers/fixtures/projwfc/spinorbit/aiida.pdos_tot
  tests/parsers/fixtures/projwfc/spinorbit/lowdin.txt
Due: none

Fix typo
  aiida_quantumespresso/tools/data/orbital/spinorbithydrogen.py
Due: yapf

Update regression test data
  tests/parsers/test_projwfc/test_projwfc_noncollinear.yml
  tests/parsers/test_projwfc/test_projwfc_spin.yml
  tests/parsers/test_projwfc/test_projwfc_spinorbit.yml
Due: none

Fix non-collinear parser
  aiida_quantumespresso/parsers/projwfc.py
Due: yapf

Fix typo in parser
  aiida_quantumespresso/parsers/projwfc.py
Due: yapf

Use correct test fixtures in test_projwfc
  tests/parsers/test_projwfc.py
Due: yapf

Fix regex for stateline
  aiida_quantumespresso/parsers/projwfc.py
Due: yapf

Add regression test data for projwfc tests
  tests/parsers/test_projwfc/test_projwfc_noncollinear.yml
  tests/parsers/test_projwfc/test_projwfc_spin.yml
  tests/parsers/test_projwfc/test_projwfc_spinorbit.yml
Due: none

Fix tests
  aiida_quantumespresso/parsers/projwfc.py
  tests/parsers/test_projwfc.py
Due: yapf

Check for spin up/down bands+projections in test_projwfc
  tests/parsers/test_projwfc.py
Due: yapf

Use 'default' pw calculation node as parent in test_projwfc
  tests/parsers/test_projwfc.py
Due: yapf

Fixed more style issues
  aiida_quantumespresso/tools/data/orbital/noncollinearhydrogen.py
  aiida_quantumespresso/tools/data/orbital/spinorbithydrogen.py
Due: yapf

Reduced size of test fixtures
  tests/parsers/fixtures/projwfc/noncollinear/aiida.out
  tests/parsers/fixtures/projwfc/noncollinear/aiida.pdos_atm#1(Fe)_wfc#1(s)
  tests/parsers/fixtures/projwfc/noncollinear/aiida.pdos_atm#1(Fe)_wfc#2(d)
  tests/parsers/fixtures/projwfc/noncollinear/aiida.pdos_tot
  tests/parsers/fixtures/projwfc/noncollinear/lowdin.txt
  tests/parsers/fixtures/projwfc/spin/aiida.out
  tests/parsers/fixtures/projwfc/spin/aiida.pdos_atm#1(Fe)_wfc#1(s)
  tests/parsers/fixtures/projwfc/spin/aiida.pdos_atm#1(Fe)_wfc#2(d)
  tests/parsers/fixtures/projwfc/spin/aiida.pdos_tot
  tests/parsers/fixtures/projwfc/spin/lowdin.txt
  tests/parsers/fixtures/projwfc/spinorbit/aiida.out
  tests/parsers/fixtures/projwfc/spinorbit/aiida.pdos_atm#1(Fe)_wfc#1(s_j0.5)
  tests/parsers/fixtures/projwfc/spinorbit/aiida.pdos_atm#1(Fe)_wfc#2(p_j0.5)
  tests/parsers/fixtures/projwfc/spinorbit/aiida.pdos_atm#1(Fe)_wfc#3(p_j1.5)
  tests/parsers/fixtures/projwfc/spinorbit/aiida.pdos_atm#1(Fe)_wfc#4(d_j1.5)
  tests/parsers/fixtures/projwfc/spinorbit/aiida.pdos_atm#1(Fe)_wfc#5(d_j2.5)
  tests/parsers/fixtures/projwfc/spinorbit/aiida.pdos_tot
  tests/parsers/fixtures/projwfc/spinorbit/lowdin.txt
Due: none

Fix parser regex
  aiida_quantumespresso/parsers/projwfc.py
Due: yapf

Fix projwfc issue with one-line dos files
  aiida_quantumespresso/parsers/projwfc.py
Due: yapf

`ProjwfcParser`: add support for non-collinear and spinorbit calculations (#546)
  aiida_quantumespresso/parsers/projwfc.py
  aiida_quantumespresso/tools/data/__init__.py
  aiida_quantumespresso/tools/data/orbital/__init__.py
  aiida_quantumespresso/tools/data/orbital/noncollinearhydrogen.py
  aiida_quantumespresso/tools/data/orbital/spinorbithydrogen.py
  setup.json
  tests/parsers/fixtures/projwfc/noncollinear/aiida.in
  tests/parsers/fixtures/projwfc/noncollinear/aiida.out
  tests/parsers/fixtures/projwfc/noncollinear/aiida.pdos_atm#1(Fe)_wfc#1(s)
  tests/parsers/fixtures/projwfc/noncollinear/aiida.pdos_atm#1(Fe)_wfc#2(d)
  tests/parsers/fixtures/projwfc/noncollinear/aiida.pdos_tot
  tests/parsers/fixtures/projwfc/noncollinear/lowdin.txt
  tests/parsers/fixtures/projwfc/spin/aiida.in
  tests/parsers/fixtures/projwfc/spin/aiida.out
  tests/parsers/fixtures/projwfc/spin/aiida.pdos_atm#1(Fe)_wfc#1(s)
  tests/parsers/fixtures/projwfc/spin/aiida.pdos_atm#1(Fe)_wfc#2(d)
  tests/parsers/fixtures/projwfc/spin/aiida.pdos_tot
  tests/parsers/fixtures/projwfc/spin/lowdin.txt
  tests/parsers/fixtures/projwfc/spinorbit/aiida.in
  tests/parsers/fixtures/projwfc/spinorbit/aiida.out
  tests/parsers/fixtures/projwfc/spinorbit/aiida.pdos_atm#1(Fe)_wfc#1(s_j0.5)
  tests/parsers/fixtures/projwfc/spinorbit/aiida.pdos_atm#1(Fe)_wfc#2(p_j0.5)
  tests/parsers/fixtures/projwfc/spinorbit/aiida.pdos_atm#1(Fe)_wfc#3(p_j1.5)
  tests/parsers/fixtures/projwfc/spinorbit/aiida.pdos_atm#1(Fe)_wfc#4(d_j1.5)
  tests/parsers/fixtures/projwfc/spinorbit/aiida.pdos_atm#1(Fe)_wfc#5(d_j2.5)
  tests/parsers/fixtures/projwfc/spinorbit/aiida.pdos_tot
  tests/parsers/fixtures/projwfc/spinorbit/lowdin.txt
  tests/parsers/test_projwfc.py
  tests/parsers/test_projwfc/test_projwfc_noncollinear.yml
  tests/parsers/test_projwfc/test_projwfc_spin.yml
  tests/parsers/test_projwfc/test_projwfc_spinorbit.yml
Due: yapf, version-number

Added possibility to symlink in NamelistCalculation
  aiida_quantumespresso/calculations/namelists.py
Due: yapf

Modified pw2gw Calcjob test to include check for symlinked ./out/ folder
  tests/calculations/test_pw2gw.py
  tests/calculations/test_pw2gw/test_pw2gw_default_base_.in
  tests/calculations/test_pw2gw/test_pw2gw_default_with_symlink_.in
Due: yapf

Fixed pre-commit
  tests/calculations/test_pw2gw.py
Due: yapf

`NamelistCalculation`: allow symlinking `parent_folder` instead of copying (#555)
  aiida_quantumespresso/calculations/namelists.py
  tests/calculations/test_pw2gw.py
  tests/calculations/test_pw2gw/test_pw2gw_default_base_.in
  tests/calculations/test_pw2gw/test_pw2gw_default_with_symlink_.in
Due: yapf

Fix parsing problem with van der Waals functionals+stress
  aiida_quantumespresso/parsers/parse_raw/pw.py
Due: yapf

Add context argument to validator
  aiida_quantumespresso/workflows/pw/band_structure.py
Due: yapf

Add test for rVV10 parsing
  aiida_quantumespresso/data/force_constants.py
  tests/parsers/fixtures/pw/vcrelax_success_external_pressure/aiida.out
  tests/parsers/fixtures/pw/vcrelax_success_rVV10/aiida.out
  tests/parsers/fixtures/pw/vcrelax_success_rVV10/data-file.xml
  tests/parsers/test_pw.py
  tests/parsers/test_pw/test_pw_vcrelax_success_rVV10.yml
Due: yapf

Apply suggestions from code review
  aiida_quantumespresso/data/force_constants.py
  tests/parsers/fixtures/pw/vcrelax_success_rVV10/aiida.out
  tests/parsers/test_pw.py
  tests/parsers/test_pw/test_pw_vcrelax_success_rVV10.yml
Due: yapf

CI: add nightly build against `aiida-core/develop`
  .github/workflows/ci.yml
  .github/workflows/develop.yml
Due: none

CI: add nightly build against `aiida-core/develop` (#568)
  .github/workflows/ci.yml
  .github/workflows/develop.yml
Due: none

`PwBandStructureWorkChain`: add context argument to validator (#560)
  aiida_quantumespresso/workflows/pw/band_structure.py
Due: yapf

Fix CI
  tests/parsers/test_pw.py
Due: yapf

`PwParser`: fix bug in raw parsing of van der Waals and stress (#550)
  aiida_quantumespresso/parsers/parse_raw/pw.py
  tests/parsers/fixtures/pw/vcrelax_success_external_pressure/aiida.out
  tests/parsers/fixtures/pw/vcrelax_success_rVV10/aiida.out
  tests/parsers/fixtures/pw/vcrelax_success_rVV10/data-file.xml
  tests/parsers/test_pw.py
  tests/parsers/test_pw/test_pw_vcrelax_success_rVV10.yml
Due: yapf

noncolin case has nspin = 4 causing double the amount of expected bands
  aiida_quantumespresso/workflows/pw/bands.py
Due: yapf

Fix for required outputs that should be optional
  aiida_quantumespresso/workflows/pw/bands.py
Due: yapf

CI: revert workaround that installs Python 3.7.7
  .github/workflows/ci.yml
Due: none

`PwBandsWorkChain`: properly mark optional outputs as not required (#571)
  aiida_quantumespresso/workflows/pw/bands.py
Due: yapf

CI: revert workaround that installs Python 3.7.7 (#572)
  .github/workflows/ci.yml
Due: none

Update to qe-tools 2.0.0rc1.
  aiida_quantumespresso/calculations/pwimmigrant.py
  aiida_quantumespresso/cli/data/structure.py
  aiida_quantumespresso/data/force_constants.py
  aiida_quantumespresso/parsers/cp.py
  aiida_quantumespresso/parsers/matdyn.py
  aiida_quantumespresso/parsers/parse_raw/neb.py
  aiida_quantumespresso/parsers/parse_raw/ph.py
  aiida_quantumespresso/parsers/parse_raw/pw.py
  aiida_quantumespresso/parsers/parse_xml/pw/legacy.py
  aiida_quantumespresso/parsers/parse_xml/pw/parse.py
  aiida_quantumespresso/tools/base.py
  aiida_quantumespresso/tools/cpinputparser.py
  aiida_quantumespresso/tools/dbexporters/tcod_plugins/pw.py
  aiida_quantumespresso/tools/pwinputparser.py
  aiida_quantumespresso/utils/validation/trajectory.py
  setup.json
  tests/conftest.py
Due: yapf, version-number

Update to qe-tools 2.0.0rc1. (#529)
  aiida_quantumespresso/calculations/pwimmigrant.py
  aiida_quantumespresso/cli/data/structure.py
  aiida_quantumespresso/data/force_constants.py
  aiida_quantumespresso/parsers/cp.py
  aiida_quantumespresso/parsers/matdyn.py
  aiida_quantumespresso/parsers/parse_raw/neb.py
  aiida_quantumespresso/parsers/parse_raw/ph.py
  aiida_quantumespresso/parsers/parse_raw/pw.py
  aiida_quantumespresso/parsers/parse_xml/pw/legacy.py
  aiida_quantumespresso/parsers/parse_xml/pw/parse.py
  aiida_quantumespresso/tools/base.py
  aiida_quantumespresso/tools/cpinputparser.py
  aiida_quantumespresso/tools/dbexporters/tcod_plugins/pw.py
  aiida_quantumespresso/tools/pwinputparser.py
  aiida_quantumespresso/utils/validation/trajectory.py
  setup.json
  tests/conftest.py
Due: yapf, version-number

Increase minimum required `aiida-core` version to 1.3
  setup.json
Due: version-number

Increase minimum required `aiida-core` version to 1.3 (#573)
  setup.json
Due: version-number

Path conditions:
  yapf: any of: \.py$
  version-number: any of: (?x)^(
    setup.json|
    aiida_quantumespresso/__init__.py|
    ./utils/validate_version_number.py|
)$
